body {
    margin: 0;
    padding: 0;
    background-color: #a85ae8;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.auth_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth_form {
    padding: 2rem;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.4) 8px 8px 8px;
    min-height: 500px;
    width: 400px;
}

.auth_form>img {
    display: flex;
    justify-content: center;
}

.form_input {
    padding: 1rem;
    margin-top: -0.7rem;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.site_logo {
    margin-bottom: 5rem;
    height: 70px;
    width: 80%;
}

.auth_btn {
    padding: 0.8rem 2rem;
    background-color: #a85ae8;
    border-style: none;
    color: #FFF;
    font-size: 20px;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 3px 4px;
}

.auth_btn:hover {
    background-color: #9f53db;
    cursor: pointer;
}

.form_group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.validation_alert {
    margin-top: -3rem;
    padding: 0.5rem 0;
    color: white;
    background-color: #e32929;
    border-radius: 2px;
    margin-bottom: 1rem;
}
